<template>
  <section id="heroDiv" class="hero is-medium is-info">
      <div class="hero-body">
        <div class="level">
          <div class="level-left" style="margin-left: 200px;">
            <div class="container">
              <figure class="image">
                <img class="is-square" src="../assets/logo.png"/>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import firebase from 'firebase';
@Component
export default class Hero extends Vue {
  get currentUser() {
    return firebase.auth().currentUser!.email;
  }

  logUserOut() {
    firebase.auth().signOut().then(() => {
      this.$router.replace('login');
    });
  }
}
</script>

<style>
  .box {
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .hide-div {
    display: none;
  }
  .hero-body {
    display: none;
  }
  @media screen and (min-width: 768px) {
    .hero-body {
      display: block;
    }
  }
</style>