<template>
  <div>
  <b-navbar v-if="!userIsSignedIn" type="is-info" :transparent="true" :fixed-top="isFixedTop">
    <template slot="brand">
        <b-navbar-item href="/">
            <!-- <img
                src="../assets/logo-small.png"
                alt="Score Tracker"
            > -->
        </b-navbar-item>
    </template>
    <template slot="start">
        <b-navbar-item href="#">
            <router-link class="links" to="/">Sign Up</router-link>
        </b-navbar-item>
    </template>

    <!--<template slot="end">
        <b-navbar-item v-show="userIsSignedIn" tag="div">
            <div class="buttons">
                <h2 class="title is-6" style="color: white">Welcome, {{ currentUser }}!&nbsp;&nbsp;</h2>
                <a @click="logUserOut()" class="button is-danger">
                    <strong>Sign Out</strong>
                </a>
            </div>
        </b-navbar-item>
    </template> -->
    </b-navbar>
    <b-navbar v-else type="is-info" :transparent="true" :fixed-top="isFixedTop">
        <template slot="brand">
            <b-navbar-item href="/">
              <h1 class="links"><b><i>Score Stash</i></b></h1>
                <!-- <img
                    src="../assets/logo-small.png"
                    alt="Score Tracker"
                > -->
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item href="#">
                <router-link class="links" to="/">Home</router-link>
            </b-navbar-item>
            <b-navbar-item href="#">
                <router-link class="links" to="playround">Play Round</router-link>
            </b-navbar-item>
            <b-navbar-item href="#">
                <router-link class="links" to="recent">Recent Rounds</router-link>
            </b-navbar-item>
            <b-navbar-item href="#">
                <router-link class="links" to="viewcourse">Courses</router-link>
            </b-navbar-item>
        </template>

        <template slot="end">
          <div class="nav-end">
            <b-navbar-item v-show="userIsSignedIn" tag="div">
                <div style="justify-content: center;" class="buttons">
                    <!-- <h2 class="title is-7" style="color: white">{{ currentUser }}&nbsp;&nbsp;</h2> -->
                    <a @click="logUserOut()" class="button is-danger">
                        <strong>Sign Out</strong>
                    </a>
                </div>
            </b-navbar-item>
          </div>
        </template>
    </b-navbar>
  </div>
</template>
<!--<template>
  <b-navbar type="is-primary" class="top-nav" :fixed-top="isFixedTop">
    <template slot="brand">
      <b-navbar-item href="/">
      </b-navbar-item>
    </template>
    <template slot="start">
      <router-link to="/"><b-navbar-item href="#">Home</b-navbar-item></router-link>&nbsp;
      <router-link to="/playround"><b-navbar-item href="#">Play Round</b-navbar-item></router-link>&nbsp;
      <router-link to="/recent"><b-navbar-item href="#">Recent Rounds</b-navbar-item></router-link>
    </template>
    <template slot="end">
      <b-navbar-item tag="div">
        <div class="buttons">
          <h2 class="title is-5" style="color: white">Welcome, {{ currentUser }}!</h2>&nbsp;&nbsp;
          <a class="button is-primary" @click="logUserOut()">Logout</a>
        </div>
      </b-navbar-item>
    </template>
  </b-navbar>
</template>-->

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import firebase from 'firebase';
@Component
export default class TopNavBar extends Vue {
  isFixedTop: boolean = true;

  get userIsSignedIn() {
    // ts-ignore
    const user = firebase.auth().currentUser!;
    if (user === null){
      return false;
    } else {
      if (firebase.auth().currentUser!.email !== '') {
        return true;
      }
    }
    return false;
  }
  get currentUser() {
    // ts-ignore
    return firebase.auth().currentUser!.email;
  }

  logUserOut() {
    firebase.auth().signOut().then(() => {
      this.$router.replace('login');
    });
  }
}
</script>

<style>
  .top-nav {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
  }
  .title {
    margin-top: 11px;
  }
  .navbar-start {
    text-align: center;
  }
  .navbar {
    margin-bottom: 30px;
  }
  .navbar-menu.is-active .navbar-end .buttons .title {
    display: none;
  }
  .links {
    color: white;
  }
  .links:hover {
    color: white;
  }
  .navbar-menu.is-active .navbar-start a{
    color: #3CB371;
    font-weight: bold;
  }
</style>