<template>
  <div id="app">
    <!-- <Hero /> -->
    <router-view></router-view>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import Hero from '@/components/Hero.vue';

@Component({
  components: {
    Hero,
  },
})
export default class App extends Vue {
}
</script>
<style>
.box {
  width: 90%;
}
@media screen and (min-width: 769px) {
  #app {
    padding-top: 70px;
  }   
}
</style>