<template>
  <div>
    <TopNavBar />
    <div class="box has-text-centered">
      <b-field label="State">
        <b-select v-model="courseState" expanded placeholder="Select State">
          <option v-for="(state, index) in states" :key="index">{{ state.Name }}</option>
        </b-select>
      </b-field>
      <b-field label="Course Name">
        <b-input v-model="courseName"></b-input>
      </b-field>
    </div>
    <hr />
    <div class="box has-text-centered" style="margin-top: -15px;">
      <b-steps icon-pack="fas">
        <b-step-item>
          <b-field label="Hole 1">
            <b-numberinput icon-pack="fas" v-model="hole1Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 2">
            <b-numberinput icon-pack="fas" v-model="hole2Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 3">
            <b-numberinput icon-pack="fas" v-model="hole3Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 4">
            <b-numberinput icon-pack="fas" v-model="hole4Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 5">
            <b-numberinput icon-pack="fas" v-model="hole5Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 6">
            <b-numberinput icon-pack="fas" v-model="hole6Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 7">
            <b-numberinput icon-pack="fas" v-model="hole7Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 8">
            <b-numberinput icon-pack="fas" v-model="hole8Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 9">
            <b-numberinput icon-pack="fas" v-model="hole9Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 10">
            <b-numberinput icon-pack="fas" v-model="hole10Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 11">
            <b-numberinput icon-pack="fas" v-model="hole11Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 12">
            <b-numberinput icon-pack="fas" v-model="hole12Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 13">
            <b-numberinput icon-pack="fas" v-model="hole13Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 14">
            <b-numberinput icon-pack="fas" v-model="hole14Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 15">
            <b-numberinput icon-pack="fas" v-model="hole15Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 16">
            <b-numberinput icon-pack="fas" v-model="hole16Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 17">
            <b-numberinput icon-pack="fas" v-model="hole17Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
        <b-step-item>
          <b-field label="Hole 18">
            <b-numberinput icon-pack="fas" v-model="hole18Par" min="3" max="5" type="is-success"></b-numberinput>
          </b-field>
        </b-step-item>
      </b-steps>
    </div>
    <div class="has-text-centered">
      <b-button id="submitButton" class="button is-primary" @click="submitCourse()" type="is-danger">Submit Course</b-button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import firebase from 'firebase';
import { db } from '@/main.ts';
import TopNavBar from '@/components/TopNavBar.vue';
import debounce from '@/misc/debounce-decorator';

@Component({
  components: {
    TopNavBar,
  },
})
export default class AddCoursePage extends Vue {
  courseState: string = '';
  courseName: string = '';
  isLoading: boolean = false;
  states: any = [];
  holesToAdd: {};
  hole1Par: number = 4;
  hole2Par: number = 4;
  hole3Par: number = 4;
  hole4Par: number = 4;
  hole5Par: number = 4;
  hole6Par: number = 4;
  hole7Par: number = 4;
  hole8Par: number = 4;
  hole9Par: number = 4;
  hole10Par: number = 4;
  hole11Par: number = 4;
  hole12Par: number = 4;
  hole13Par: number = 4;
  hole14Par: number = 4;
  hole15Par: number = 4;
  hole16Par: number = 4;
  hole17Par: number = 4;
  hole18Par: number = 4;

  created() {
    this.getStates();
  }

  getStates() {
    db.collection('states')
      .doc('State List')
      .get()
      .then((snapshot) => {
        const document = snapshot.data();
        for (const state of Object.keys(document)) {
          // console.log(document[course]);
          this.states.push(document[state]);
        }
    });
    this.isLoading = false;
  }
  submitCourse() {
    if (this.courseState !== '' && this.courseName !== '') {
      this.addCourse();
      this.addCourseStats();
      this.$buefy.toast.open({
          duration: 2000,
          message: this.courseName + ' has been successully added!',
          position: 'is-bottom',
          type: 'is-success'
      });
      this.$router.replace('home');
    } else {
      this.$buefy.toast.open({
          duration: 2000,
          message: 'Error! Please enter a Course State and Course Name',
          position: 'is-bottom',
          type: 'is-danger'
      });
    }
  }
  addCourse() {
    const cName = this.courseName;
    const courseToUpdate = {
      [cName]: {
        Name: this.courseName
      }
    };
    db.collection('coursesByState')
      .doc(this.courseState)
      .update({
        [cName]: {
          Name: this.courseName
        }
      })
      .then((f) => {
        console.log(f);
      });
  }
  addCourseStats() {
    this.holesToAdd = {
      'Hole 1': {
        Index: 1,
        Name: 'Hole 1',
        Par: this.hole1Par,
      },
      'Hole 2': {
        Index: 2,
        Name: 'Hole 2',
        Par: this.hole2Par,
      },
      'Hole 3': {
        Index: 3,
        Name: 'Hole 3',
        Par: this.hole3Par,
      },
      'Hole 4': {
        Index: 4,
        Name: 'Hole 4',
        Par: this.hole4Par,
      },
      'Hole 5': {
        Index: 5,
        Name: 'Hole 5',
        Par: this.hole5Par,
      },
      'Hole 6': {
        Index: 6,
        Name: 'Hole 6',
        Par: this.hole6Par,
      },
      'Hole 7': {
        Index: 7,
        Name: 'Hole 7',
        Par: this.hole7Par,
      },
      'Hole 8': {
        Index: 8,
        Name: 'Hole 8',
        Par: this.hole8Par,
      },
      'Hole 9': {
        Index: 9,
        Name: 'Hole 9',
        Par: this.hole9Par,
      },
      'Hole 10': {
        Index: 10,
        Name: 'Hole 10',
        Par: this.hole10Par,
      },
      'Hole 11': {
        Index: 11,
        Name: 'Hole 11',
        Par: this.hole11Par,
      },
      'Hole 12': {
        Index: 12,
        Name: 'Hole 12',
        Par: this.hole12Par,
      },
      'Hole 13': {
        Index: 13,
        Name: 'Hole 13',
        Par: this.hole13Par,
      },
      'Hole 14': {
        Index: 14,
        Name: 'Hole 14',
        Par: this.hole14Par,
      },
      'Hole 15': {
        Index: 15,
        Name: 'Hole 15',
        Par: this.hole5Par,
      },
      'Hole 16': {
        Index: 16,
        Name: 'Hole 16',
        Par: this.hole16Par,
      },
      'Hole 17': {
        Index: 17,
        Name: 'Hole 17',
        Par: this.hole17Par,
      },
      'Hole 18': {
        Index: 18,
        Name: 'Hole 18',
        Par: this.hole18Par,
      },
    }
    db.collection('courses')
      .doc(this.courseName)
      .set(this.holesToAdd)
      .then((f) => {
        console.log(f);
      });
  }
}
</script>
<style scoped>
@media screen and (max-width: 768px) {
    .box {
      width: 100%;
      margin-top: 75px;
    }
    .level {
      margin-top: 75px;
    }
  }
  @media screen and (max-width: 1024px) {
    .box {
      width: 75%;
    }
  }
</style>


