<template>
  <div>
    <TopNavBar />
    <div class="level">
      <div class="level-item">
        <figure id="mobile-image" class="image is-128x128">
          <img class="is-rounded" :src="profilePicSrc" alt="Profile Image"><br>
          <b-button @click="isModalActive = true;" style="margin-top: 10px; width: 128px;" type="is-success" size="is-small">Change Profile Picture</b-button>
        </figure>
      </div>
      <div class="level-item has-text-centered">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure id="desktopImage" class="image is-48x48">
                  <img class="is-rounded" src="../assets/profile-placeholder.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-3">{{ userDetails['First Name'] }}&nbsp;{{ userDetails['Last Name'] }}</p>
                <p class="title is-6">{{ currentUser }}</p>
                <p style="margin-top: 10px;" class="subtitle is-6">{{ userDetails['Age'] }}&nbsp;{{ userDetails['Sex'] }}</p>
              </div>
            </div>

            <div class="content">
              <table>
                <tr>
                  <td style="vertical-align: bottom;">Average Score</td>
                  <td style="vertical-align: bottom;"><span style="font-size: 20px;" class="is-5 tag is-rounded is-success">{{ avgScore }}</span></td>
                </tr>
                <tr>
                  <td style="vertical-align: bottom;">FIR</td>
                  <td style="vertical-align: bottom;"><span style="font-size: 20px;" class="is-5 tag is-rounded is-success">{{ avgFIR }}</span></td>
                </tr>
                <tr>
                  <td style="vertical-align: bottom;">GIR</td>
                  <td style="vertical-align: bottom;"><span style="font-size: 20px;" class="is-5 tag is-rounded is-success">{{ avgGIR }}</span></td>
                </tr>
                <tr>
                  <td style="vertical-align: bottom;">Putts Per Round</td>
                  <td style="vertical-align: bottom;"><span style="font-size: 20px;" class="is-5 tag is-rounded is-success">{{avgPPR }}</span></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- <b-button @click="viewRecentRounds()" type="is-info">View Recent Rounds</b-button>&nbsp;
        <b-button @click="startNewRound()"  type="is-info">Start New Round</b-button> -->
      </div>
    </div>
    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="true">
      <b-icon
          pack="fas"
          icon="sync-alt"
          size="is-large"
          custom-class="fa-spin">
      </b-icon>
    </b-loading>
    <b-modal :active.sync="isModalActive" :width="640" scroll="keep">
        <div class="modal-card" style="width: auto">
          <header class="modal-card-head">
              <p class="modal-card-title">Upload Images</p>
          </header>
          <section class="modal-card-body">
            <form enctype="multipart/form-data">
              <div class="dropbox">
                <input type="file" multiple :name="uploadFieldName" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                  accept="image/*" class="input-file">
                  <p>
                    Drag your file(s) here to begin<br> or click to browse
                  </p>
              </div>
            </form>
          </section>
          <footer class="modal-card-foot">
              <button class="button" type="button" @click="isModalActive = false">Close</button>
              <button @click="uploadImage()" class="button is-primary">Upload</button>
          </footer>
        </div>
      </b-modal>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import firebase from 'firebase';
import { db } from '@/main.ts';
import TopNavBar from '@/components/TopNavBar.vue';
import debounce from '@/misc/debounce-decorator';
@Component({
  components: {
    TopNavBar,
  },
})
export default class HomePage extends Vue {
  singleRounds: any = [];
  userDetails: any = {};
  avgScore: number = 0;
  avgFIR: string = '';
  avgGIR: string = '';
  avgPPR: number = 0;
  uploadFile?: File; 
  uploadFileName: string = '';
  uploadFileSize: number = 0;
  uploadFileType: string = '';
  isModalActive: boolean = false;
  uploadFieldName: string = '';
  profilePicSrc: string = '';
  isLoading: boolean = false;
  isFullPage: boolean = true;

  created() {
    this.isLoading = true;
  }
  async mounted() {
    await this.getUserDetails();
    await this.getRecentRounds();
    await this.getProfilePic();
  }
  updated() {
    this.getProfilePic();
  }
  get currentUser() {
    // ts-ignore
    return firebase.auth().currentUser!.email;
  }
  @debounce(250)
  getProfilePic() {
    var imgString = this.currentUser + '/profilePic.jpg';
    var storage = firebase.storage();
    var pathRef = storage.ref(imgString).getDownloadURL().then((url: any) => {
      this.profilePicSrc = url;
    }).catch((error) => {
      // console.log(error);
      this.profilePicSrc = require('@/assets/profile-placeholder.png');
    });
    this.isLoading = false;
  }
  @debounce(250)
  getUserDetails() {
    db.collection(this.currentUser)
      .doc('User Details')
      .get()
      .then((snapshot) => {
        const document = snapshot.data();
        this.userDetails = document;
        // for (const details of Object.keys(document)) {
        //   // console.log(document[course]);
        //   // this.states.push(document[state]);
        // }
    });
  }
  @debounce(250)
  getRecentRounds() {
    let i = 0;
    let totalScore = 0;
    let totalPutts = 0;
    let totalFairwaysHit = 0, totalFairwaysAvailable = 0;
    let totalGreensHit = 0, totalGreensAvailable = 0;
    var round;
    db.collection(this.currentUser)
      .doc('rounds')
      .get()
      .then((snapshot) => {
        const document = snapshot.data();
        for (const rounds of Object.keys(document)) {
          i++;
          round = document[rounds];
          this.singleRounds.push(round);
          for (const r of Object.keys(round)) {
            let index = round[r].Fairways.indexOf('/');
            // console.log(Number(round[r].Fairways.substring(0, index)));
            totalFairwaysHit = totalFairwaysHit + Number(round[r].Fairways.substring(0, index));
            totalFairwaysAvailable = totalFairwaysAvailable + Number(round[r].Fairways.substring(index+1));
            totalGreensHit = totalGreensHit + Number(round[r].Greens.substring(0, index));
            totalGreensAvailable = totalGreensAvailable + Number(round[r].Greens.substring(index+1));
            totalScore = totalScore + round[r].Score;
            totalPutts = totalPutts + round[r].Putts;
          }
        }
        this.avgScore = totalScore / i;
        this.avgFIR = String(((totalFairwaysHit / totalFairwaysAvailable) * 100).toFixed(2)) + '%';
        this.avgGIR = String(((totalGreensHit / totalGreensAvailable) * 100).toFixed(2)) + '%';
        this.avgPPR = totalPutts / i;
        if (isNaN(this.avgScore)) { this.avgScore = 'N/A'; }
        if (this.avgFIR === 'NaN%') { this.avgFIR = 'N/A'; }
        if (this.avgGIR === 'NaN%') { this.avgGIR = 'N/A'; }
        if (isNaN(this.avgPPR)) { this.avgPPR = 'N/A'; }
      });
  }

  filesChange(name: string, files: any) {
    Array.from(files).forEach((file) => {
      // console.log(file);
      this.uploadFile = file;
      this.uploadFileName = file.name;
      this.uploadFileSize = file.size;
      this.uploadFileType = file.type;
    })
  }

  uploadImage() {
    var storageRef = firebase.storage().ref();
    var profilePicRef = storageRef.child(this.uploadFileName);
    var metadata = {
      contentType: this.uploadFileType,
    };
    var pathString = this.currentUser + '/profilePic.jpg';
    storageRef.child(pathString).put(this.uploadFile, metadata).then(() => {
      console.log('File uploaded..');
      this.isModalActive = false;
      this.$buefy.toast.open({
          duration: 1500,
          message: 'Image Uploaded Successfully',
          position: 'is-bottom',
          type: 'is-success'
      });
    });
  }

  // viewRecentRounds() {
  //   this.$router.replace('recent');
  // }
  // startNewRound() {
  //   this.$router.replace('playround');
  // }
}
</script>
<style scoped>
@media screen and (max-width: 768px) {
  .level-item {
    margin-top: 60px;
  }
  .card {
    width: 100%;
  }
  #desktopImage {
    display: none;
  }
  #mobile-image {
    display: block;
  }
}
@media screen and (min-width: 769) {
  #mobile-image {
    display: none;
  }
  #desktopImage {
    display: block;
  }
}
</style>


