<template>
  <div class="has-text-centered">
    <TopNavBar />
    <div id="header">
      <h2 class="title is-4">Stash your scores today!</h2>
      <h2 class="subtitle is-6"><i>Login below or create an account to begin.</i></h2>
    </div>
    <div id="loginBox" class="box has-text-centered">
      <b-field label="Username">
        <b-input v-model="username" placeholder="Username"></b-input>
      </b-field>
      <b-field label="Password">
        <b-input @keydown.native.enter="loginUser()" v-model="password" type="password" placeholder="Password"></b-input>
      </b-field>
      <div class="level">
        <div id="loginBtn" class="level-item">
          <b-button style="width: 100%;" @click="loginUser()" type="is-success">Login</b-button>
        </div>
      </div>
      <div class="level">
        <div class="level-item">
          <h1 class="title is-6">No Account? Signup Today!</h1>
        </div>
      </div>
      <div class="level">
        <div class="level-item">
          <b-button style="width: 100%;" @click="signupUser()" type="is-primary">Signup</b-button>
        </div>
      </div>

      <b-modal :active.sync="isSignUpActive" :width="640" scroll="keep">
        <div class="modal-card" style="width: auto">
          <header class="modal-card-head">
              <p class="modal-card-title">Sign Up</p>
          </header>
          <section class="modal-card-body">
            <b-field label="Email" label-position="on-border">
                  <b-input
                      type="email"
                      v-model="username"
                      :value="username"
                      placeholder="johndoe@gmail.com"
                      required>
                  </b-input>
              </b-field>
              <b-field label="Password" label-position="on-border">
                  <b-input
                      type="password"
                      v-model="password"
                      :value="password"
                      icon-pack="fas"
                      password-reveal
                      required>
                  </b-input>
              </b-field>
            <b-field grouped>
                  <b-input style="width: 48%;"
                      type="text"
                      v-model="firstName"
                      :value="firstName"
                      placeholder="First Name"
                      required>
                  </b-input>
                  <b-input style="width: 48%;"
                      type="text"
                      v-model="lastName"
                      :value="lastName"
                      placeholder="Last Name"
                      required>
                  </b-input>
              </b-field>
              <b-field label="Age" label-position="on-border">
                <b-numberinput icon-pack="fas" v-model="age" rounded min="16" max="80"></b-numberinput>
              </b-field>
              <b-field label="Sex">
                <b-select v-model="sex" style="width: 100%; border: 1px solid blue;" placeholder="Select sex">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </b-select>
              </b-field>
          </section>
          <footer class="modal-card-foot">
              <button class="button" type="button" @click="isSignUpActive = false">Close</button>
              <button @click="signInUser()" class="button is-primary">Sign Up!</button>
          </footer>
        </div>
      </b-modal>
    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="true">
        <b-icon
            pack="fas"
            icon="sync-alt"
            size="is-large"
            custom-class="fa-spin">
        </b-icon>
      </b-loading>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TopNavBar from '@/components/TopNavBar.vue';
import firebase from 'firebase';
import { db } from '@/main.ts';

@Component({
  components: {
    TopNavBar,
  },
})
export default class LoginPage extends Vue {
  username: string = '';
  password: string = '';
  firstName: string = '';
  lastName: string = '';
  sex: string = '';
  age: number = 30;
  isLoading: boolean = false;
  isFullPage: boolean = false;
  isSignUpActive: boolean = false;

  loginUser() {
    this.isLoading = true;
    firebase.auth().signInWithEmailAndPassword(this.username, this.password).then((username) => {
      this.$router.replace('home');
    },
    (err) => {
      this.displayErrorMessage(err);
    });
    this.isLoading = false;
  }

  signInUser() {
    console.log(this.username + ': ' + this.password);
    const fName = 'First Name';
    const lName = 'Last Name';
    firebase.auth().createUserWithEmailAndPassword(this.username, this.password).then((username) => {
      db.collection(this.username)
        .doc('User Details')
        .set({
          Age: this.age,
          Email: this.username,
          [fName]: this.firstName,
          [lName]: this.lastName,
          Sex: this.sex,
          Username: this.username
        })
        .then((f) => {
          // console.log(f);
      });
      db.collection(this.username)
        .doc('rounds')
        .set({})
        .then((f) => {
          // console.log(f);
      });
      this.$router.replace('home');
    },
    (err) => {
      console.log(err.message);
      this.$buefy.snackbar.open('Oops..' + err.message);
    });
  }

  signupUser() {
    this.isSignUpActive = true;
    // this.$router.replace('signup');
  }

  displayErrorMessage(error: any) {
    const code = error.code;
    let message = '';
    switch(code) {
      case 'auth/invalid-email':
        message = 'Email address is invalid!';
        break;
      case 'auth/wrong-password':
        message = 'The password you entered is incorrect!';
        break;
      case 'auth/user-not-found':
        message = 'Email address not found!';
        break;
    }
    this.$buefy.snackbar.open('Oops...' + message);
  }
}
</script>
<style>
  .box {
    width: 40% !important;
    margin: 0 auto;
  }
  span.select {
    width: 100%;
  }
  select {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    #header {
      margin-top: 60px;
      margin-bottom: 20px;
    }
    .box {
      width: 90% !important;
    }
  }
</style>
