<template>
  <div>
  <TopNavBar />
    <div v-show="ifCourseNotSelected">
      <div class="box has-text-centered">
        <b-field label="States">
          <b-select v-model="stateSelected" @input="userSelectedState" expanded placeholder="Select State">
            <option v-for="(state, index) in states" :key="index">{{ state.Name }}</option>
          </b-select>
        </b-field>
        <b-field v-show="ifStateNotSelected" label="Courses">
          <b-select v-model="courseSelected" @input="userSelectedCourse" expanded placeholder="Select a Course">
            <option v-for="(course, index) in courses" :key="index">{{ course.Name }}</option>
          </b-select>
        </b-field>
        <b-field>
          <b-button v-if="ifUserSelectedCourse" class="button" @click="playRound()" type="is-danger">Start!</b-button>
        </b-field>
      </div>
      <div class="box has-text-centered">
        <h2 class="subtitle is-5" style="color: hsl(0, 0%, 71%);"><b><i>Don't see your course listed? Click below to add it!</i></b></h2><br>
        <b-field>
          <b-button class="button" @click="addCourse()" type="is-success">Add Course!</b-button>
        </b-field>
      </div>
      <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="true">
        <b-icon
            pack="fas"
            icon="sync-alt"
            size="is-large"
            custom-class="fa-spin">
        </b-icon>
      </b-loading>
    </div>
    <div v-show="!ifCourseNotSelected" class="level">
      <div class="level-item has-text-centered">
        <h1 class="title is-5">Score: {{ scoreToParStr }}</h1>
      </div>
    </div>
    <div v-show="!ifCourseNotSelected" class="level" style="margin-top: -10px;">
      <div class="level-item has-text-centered">
        <div style="width: 33%; margin: 0 auto;">
        <h3 class="title is-7">FIR: {{ totalFairwaysHit }}&nbsp;/&nbsp;{{ availableFairways }}</h3>
        </div>
        <div style="width: 33%; margin: 0 auto;">
        <h3 class="title is-7">GIR: {{ totalGreensHit }}&nbsp;/&nbsp;{{ availableGreens }}</h3>
        </div>
        <div style="width: 33%; margin: 0 auto;">
        <h3 class="title is-7">Putts: {{ totalPuttsInRound }}</h3>
        </div>
      </div>
    </div>
    <div v-show="!ifCourseNotSelected" style="margin-top: -15px;" class="box has-text-centered">
      <b-steps @input="saveHoleStats($event)" icon-pack="fas">
        <b-step-item v-for="(c, index) in courseToPlay" :key="index">
          <h1 class="title is-1" style="margin-top: -10px;">{{ c.Name }}</h1>
          <h1 class="title is-5"><i>Par {{ c.Par}}</i></h1>
          <h1 class="title is-6">FIR</h1>
          <b-field style="margin-top: -20px; justify-content: center;">
            <b-radio-button v-model="hitFairway" native-value="false"><b-icon pack="fas" icon="times"></b-icon><span>&nbsp;Nope</span></b-radio-button>&nbsp;&nbsp;
            <b-radio-button v-model="hitFairway" native-value="true"><b-icon pack="fas" icon="check"></b-icon><span>&nbsp;Yep</span></b-radio-button>
          </b-field>
          <h1 class="title is-6">GIR</h1>
          <b-field style="margin-top: -20px; justify-content: center;">
            <b-radio-button v-model="hitGreen" native-value="false"><b-icon pack="fas" icon="times"></b-icon><span>&nbsp;Nope</span></b-radio-button>&nbsp;&nbsp;
            <b-radio-button v-model="hitGreen"  native-value="true"><b-icon pack="fas" icon="check"></b-icon><span>&nbsp;Yep</span></b-radio-button>
          </b-field>
          <b-field label="Total Putts">
            <b-numberinput icon-pack="fas" v-model="totalPutts" min="1" max="5"></b-numberinput>
          </b-field>
          <b-field label="Score">
            <b-numberinput icon-pack="fas" v-model="playerScore" min="1" max="20"></b-numberinput>
          </b-field>
        </b-step-item>
      </b-steps>
    </div>
    <div v-show="!ifCourseNotSelected" style="margin-top: -15px;" class="level">
      <div class="level-item has-text-centered">
        <b-button id="submitButton" class="button" @click="submitRound()" type="is-success">Submit Round</b-button>
      </div>
      <div class="level-item has-text-centered" style="margin-top: -20px;">
        <b-button id="cancelButton" class="button" @click="cancelRound()" type="is-danger">Cancel Round</b-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Emit } from 'vue-property-decorator';
import firebase from 'firebase';
import { IRound } from '@/models/models';
import { db } from '@/main.ts';
import debounce from '@/misc/debounce-decorator';
import TopNavBar from '@/components/TopNavBar.vue';
@Component({
  components: {
    TopNavBar,
  },
})
export default class NewRoundPage extends Vue {
  isLoading: boolean = false;
  isFullPage: boolean = false;
  ifCourseNotSelected: boolean = true;
  ifStateNotSelected: boolean = false;
  ifUserSelectedCourse: boolean = false;
  roundHasStarted: string = '';
  courses: any = [];
  courseToPlay: any = [];
  courseSelected: string = '';
  stateSelected: string = '';
  states: any = [];
  holesPlayed: number[] = [];
  playerScore: number = 4;
  totalPutts: number = 2;
  hitFairway: boolean = false;
  hitGreen: boolean = false;
  currentRound: IRound = {
    date_played: new Date(),
    holes: [],
  };
  scoreToPar: number = 0;
  scoreToParStr: string = 'E'
  totalPuttsInRound: number = 0;
  totalFairwaysHit: number = 0;
  totalGreensHit: number = 0;
  totalPlayerScore: number = 0;
  availableFairways: number = 0;
  availableGreens: number = 0;

  created() {
    this.isLoading = true;
    // check to see if current round already started
    this.roundHasStarted = localStorage.getItem('roundStarted');
    if (this.roundHasStarted === 'true') {
      this.isLoading = false;
      this.getCourseData(localStorage.getItem('courseName'));
      this.totalFairwaysHit = Number(localStorage.getItem('totalFairways'));
      this.availableFairways = Number(localStorage.getItem('availableFairways'));
      this.totalGreensHit = Number(localStorage.getItem('totalGreens'));
      this.availableGreens = Number(localStorage.getItem('availableGreens'));
      this.totalPuttsInRound = Number(localStorage.getItem('totalPutts'));
      this.scoreToParStr = localStorage.getItem('playerScore');

      // get hole stats
      let hp = Number(localStorage.getItem('holesPlayed'));
      for (let i=1; i <= hp; i++) {
        const holeStats = JSON.parse(localStorage.getItem(`Hole ${i}`));
        this.holesPlayed.push(i);
        this.currentRound.holes.push(holeStats);
      }
      this.hitFairway = this.currentRound.holes[0].hit_fairway;
      this.hitGreen = this.currentRound.holes[0].hit_green;
      this.totalPutts = this.currentRound.holes[0].number_putts;
      this.playerScore = this.currentRound.holes[0].score;
      this.scoreToPar = Number(localStorage.getItem('scoreToPar'));
      this.ifCourseNotSelected = false;
    } else {
      this.getStates();
    }
  }

  getStates() {
    db.collection('states')
      .doc('State List')
      .get()
      .then((snapshot) => {
        const document = snapshot.data();
        for (const state of Object.keys(document)) {
          // console.log(document[course]);
          this.states.push(document[state]);
        }
    });
    this.isLoading = false;
  }

  userSelectedState() {
    this.ifStateNotSelected = true;
    this.getCourses(this.stateSelected);
  }

  userSelectedCourse() {
    this.ifUserSelectedCourse = true;
  }

  getCourses(state: string) {
    db.collection('coursesByState')
      .doc(state)
      .get()
      .then((snapshot) => {
        const document = snapshot.data();
        if (document) {
          for (const course of Object.keys(document)) {
            this.courses.push(document[course]);
          }
        } else {
          this.courses = [];
        }
    });
    this.isLoading = false;
  }

  addCourse() {
    this.$router.replace('addcourse');
  }

  playRound() {
    this.isLoading = true;
    this.ifCourseNotSelected = false;
    localStorage.setItem('courseName', this.courseSelected);
    localStorage.setItem('roundStarted', 'true');
    this.getCourseData(this.courseSelected);
  }

  getCourseData(courseName: string) {
    db.collection('courses')
      .doc(courseName)
      .get()
      .then((snapshot) => {
        const document = snapshot.data();
        const keys = Object.keys(document);
        keys.sort((a, b) => document[a].Index - document[b].Index);
        const sorted = keys.map((key) => document[key]);
        for (const course of Object.keys(sorted)) {
          this.courseToPlay.push(sorted[course]);
        }
    });
    this.isLoading = false;
  }

  saveHoleStats(payload: any) {
    // console.log(this.courseToPlay);
    const index = this.holesPlayed.indexOf(payload);
    if (index === -1 && payload !== 0) {   // hole hasn't been played, add to currentRound
      const holeStats = {
        hole_number: payload,
        hit_fairway: this.hitFairway,
        hit_green: this.hitGreen,
        number_putts: this.totalPutts,
        score: this.playerScore,
        hole_played: true,
      };
      this.currentRound.holes.push(holeStats);
      console.log(this.currentRound);
      localStorage.setItem(`Hole ${payload}`, JSON.stringify(holeStats));
      // localStorage.setItem(`Hole ${payload} FIR`, String(this.hitFairway));
      // localStorage.setItem(`Hole ${payload} GIR`, String(this.hitGreen));
      // localStorage.setItem(`Hole ${payload} Putts`, String(this.totalPutts));
      // localStorage.setItem(`Hole ${payload} Score`, String(this.playerScore));
      let holesPlayed = Number(localStorage.getItem('holesPlayed'));
      holesPlayed = holesPlayed + 1;
      localStorage.setItem('holesPlayed', String(holesPlayed));
      // calculate round totals
      if (this.hitFairway === 'true') {
        if (this.courseToPlay[payload - 1].Par !== 3) {
          this.totalFairwaysHit++
          this.availableFairways++;
          localStorage.setItem('totalFairways', this.totalFairwaysHit.toString());
          localStorage.setItem('availableFairways', this.availableFairways.toString());
        }
      } else if (this.courseToPlay[payload - 1].Par !== 3) {
        this.availableFairways++;
        localStorage.setItem('availableFairways', this.availableFairways.toString());
      }
      if (this.hitGreen === 'true') {
        this.totalGreensHit++;
        localStorage.setItem('totalGreens', this.totalGreensHit.toString());
      }
      this.availableGreens++;
      localStorage.setItem('availableGreens', this.availableGreens.toString());
      this.totalPuttsInRound = this.totalPuttsInRound + this.totalPutts;
      localStorage.setItem('totalPutts', this.totalPuttsInRound.toString());
      this.totalPlayerScore = this.totalPlayerScore + this.playerScore;
      this.calculateTotalScore(this.courseToPlay[payload - 1].Par, this.playerScore);
      this.hitFairway = null;
      this.hitGreen = null;
      this.totalPutts = 2;
      this.playerScore = 4;
      this.holesPlayed.push(payload);
      // console.log(this.currentRound);
    }

    // check to see if hole has been played, to display stats
    if (this.currentRound.holes[payload]) {
      this.hitFairway = this.currentRound.holes[payload].hit_fairway;
      this.hitGreen = this.currentRound.holes[payload].hit_green;
      this.totalPutts = this.currentRound.holes[payload].number_putts;
      this.playerScore = this.currentRound.holes[payload].score;
    } else {
      this.hitFairway = null;
      this.hitGreen = null;
      this.totalPutts = 2;
      this.playerScore = 4;
    }
    // console.log(this.currentRound);
  }

  calculateTotalScore(par: number, playerScore: number) {
    const diff = playerScore - par;
    this.scoreToPar = this.scoreToPar + diff;
    if (this.scoreToPar === 0) {
      this.scoreToParStr = 'E';
    } else {
      if (this.scoreToPar > 0) {
        this.scoreToParStr = '+' + this.scoreToPar.toString();
      } else {
        this.scoreToParStr = this.scoreToPar.toString();
      }
    }
    localStorage.setItem('playerScore', this.scoreToParStr);
    localStorage.setItem('scoreToPar', String(this.scoreToPar));
  }

  submitRound() {
    this.$buefy.dialog.confirm({
      title: 'Submit Round?',
      message: 'Are you sure you would like to submit this round?',
      confirmText: 'Submit',
      type: 'is-success',
      hasIcon: false,
      onConfirm: async () => {
        if (this.holesPlayed.length > 17) {
          await this.saveHoleStats(18);
        }
        const date: string = new Date().toString();
        const today = date.substring(0, 15);
        const fwys = this.totalFairwaysHit + '/' + this.availableFairways;
        const grns = this.totalGreensHit + '/' + this.currentRound.holes.length;
        const roundStats = {
          Date: today,
          Course: localStorage.getItem('courseName'),
          Fairways: fwys,
          Greens: grns,
          Putts: this.totalPuttsInRound,
          Score: this.totalPlayerScore,
          User: firebase.auth().currentUser!.email,
        };
        const randId = await this.generateRandId(10);
        db.collection(firebase.auth().currentUser.email)
          .doc('rounds')
          .update({
            [randId]: {
              'roundStats': roundStats 
            }
          })
          .then((f) => {
            // console.log(f);
          });
        // db.collection('rounds')
        //   .doc()
        //   .set({ roundStats })
        //   .then((f) => {
        //     // console.log(f);
        //   });
        this.$buefy.toast.open('Round submitted');
        this.clearLocalStorage();
        this.$router.replace('home');
      },
    })
  }
  cancelRound() {
    this.$buefy.dialog.confirm({
      title: 'Cancel Round?',
      message: 'Are you sure you would like to cancel this round?',
      confirmText: 'Cancel',
      type: 'is-danger',
      hasIcon: false,
      onConfirm: () => {
        this.clearLocalStorage();
        this.$router.replace('home');
      },
    })
  }
  generateRandId(length: number) {
    var result = '';
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var charactersLength = characters.length;
    for ( var i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  }
  
  clearLocalStorage() {
    localStorage.setItem('roundStarted', 'false');
    localStorage.setItem('holesPlayed', '0');
  }
}
</script>
<style scoped>
.b-radio {
  width: 75px !important;
}
 #submitButton {
   margin-bottom: 20px;
 }
 @media screen and (min-width: 769) {
   #subtitles {
     font-size: 20px !important;
   }
 }
 @media screen and (max-width: 768px) {
    .box {
      width: 100%;
      margin-top: 75px;
    }
    .level {
      margin-top: 75px;
    }
  }
  @media screen and (max-width: 1024px) {
    .box {
      width: 75%;
    }
  }
</style>


