<template>
  <div>
  <TopNavBar />
  <div class="tile is-ancestor has-text-centered">
    <div v-if="singleRounds.length > 0" class="tile is-vertical is-6" style="margin: 0 auto;">
      <b-steps icon-pack="fas">
        <b-step-item v-for="(round, index) in singleRounds" :key="index">
              <div class="tile">
                <div class="tile is-parent is-vertical">
                  <div class="tile is-child notification has-text-centered">
                    <h2 class="title is-5">{{ round["roundStats"].Date }}</h2>
                    <h2 class="title is-5">{{ round["roundStats"].Course }}</h2><br>
                    <h1 class="title is-1 tag is-rounded is-success">{{ round["roundStats"].Score }}</h1><br><hr />
                    <h3 style="letter-spacing: 1px;" class="title is-5">FIR: {{ round["roundStats"].Fairways }}</h3>
                    <h3 style="letter-spacing: 1px;" class="title is-5">GIR: {{ round["roundStats"].Greens }}</h3>
                    <h3 style="letter-spacing: 1px;" class="title is-5">Putts: {{ round["roundStats"].Putts }}</h3>
                  </div>
                </div>
              </div>
            <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="true">
              <b-icon
                  pack="fas"
                  icon="sync-alt"
                  size="is-large"
                  custom-class="fa-spin">
              </b-icon>
            </b-loading>
        </b-step-item>
      </b-steps>
      </div>
      <div v-else class="tile is-child notification">
        <h1 class="title is-5">No recent rounds played..</h1>
      </div>
    </div>
    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="true">
        <b-icon
            pack="fas"
            icon="sync-alt"
            size="is-large"
            custom-class="fa-spin">
        </b-icon>
      </b-loading>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import firebase from 'firebase';
import { db } from '@/main.ts';
import debounce from '@/misc/debounce-decorator';
import TopNavBar from '@/components/TopNavBar.vue';
@Component({
  components: {
    TopNavBar,
  },
})
export default class RecentRoundsPage extends Vue {
  isLoading: boolean = false;
  isFullPage: boolean = false;
  singleRounds: any = [];

  get currentUser() {
    // ts-ignore
    return firebase.auth().currentUser!.email;
  }

  mounted() {
    this.isLoading = true;
    this.getRecentRounds();
  }

  getRecentRounds() {
    db.collection(this.currentUser)
      .doc('rounds')
      .get()
      .then((snapshot) => {
        const document = snapshot.data();
        for (const rounds of Object.keys(document)) {
          const round = document[rounds];
          this.singleRounds.push(round);
        }
      });
    //   .then((querySnapshot) => {
    //     console.log(querySnapshot.docs);
    //     querySnapshot.docs.map((doc) => {
    //       const document = doc.data();
    //       console.log(doc.data());
    //       for (const rounds of Object.keys(document)) {
    //         if (document[rounds].User === firebase.auth().currentUser.email) {
    //           this.singleRounds.push(document[rounds]);
    //         }
    //       }
    //     });
    // });
    this.isLoading = false;
  }

}
</script>
<style>
  .steps {
    display: none;
  }
  .step-navigation {
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    .tile {
      margin-top: 25px !important;
    }
  }
  @media screen and (min-width: 769px) {
    .tile {
      margin-top: 10px !important;
    }
  }
</style>


