<template>
  <div class="box">
    <h1 class="title is-4">Create a new account!</h1>
    <b-field label="Username">
      <b-input v-model="username" placeholder="Username"></b-input>
    </b-field>
    <b-field label="Password">
      <b-input v-model="password" type="password" placeholder="Password"></b-input>
    </b-field>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <b-button @click="signupUser()" type="is-info">Sign Up</b-button>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <b-button @click="backToLogin()" type="is-primary">Login</b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import firebase from 'firebase';

@Component
export default class SignUpPage extends Vue {
  username: string = '';
  password: string = '';

  signupUser() {
    firebase.auth().createUserWithEmailAndPassword(this.username, this.password).then((username) => {
      this.$router.replace('home');
    },
    (err) => {
      this.$buefy.snackbar.open('Oops..' + err.message);
    });
  }
  backToLogin() {
    this.$router.replace('login');
  }
}
</script>
<style>
  .box {
    width: 30%;
    margin: 0 auto;
    margin-top: 10px;
  }
</style>
