<template>
  <div class="has-text-centered">
    <TopNavBar />
    <h1 class="title is-4" style="margin-top: 75px;">Select A Course</h1>
    <div class="box has-text-centered">
      <b-field label="State">
        <b-select v-model="stateSelected" @input="userSelectedState" expanded placeholder="Select State">
          <option v-for="(state, index) in states" :key="index">{{ state.Name }}</option>
        </b-select>
      </b-field>
      <b-field v-show="ifStateNotSelected" label="Courses">
        <b-select v-model="courseSelected" @input="userSelectedCourse" expanded placeholder="Select a Course">
          <option v-for="(course, index) in courses" :key="index">{{ course.Name }}</option>
        </b-select>
      </b-field>
    </div>
    <hr />
    <div v-show="ifUserSelectedCourse" class="box has-text-centered" style="margin-top: -15px;">
      <p class="title is-3">{{ courseToShow.Name }}</p>
      <p class="title is-6">{{ courseToShow.Location }}</p>
      <p class="title is-6">Par: {{ courseToShow.Par }}</p>
      <p class="title is-6">Best Round: {{ courseToShow.bestRound }} -- {{ courseToShow.bestRoundUser }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import firebase from 'firebase';
import { db } from '@/main.ts';
import TopNavBar from '@/components/TopNavBar.vue';
import debounce from '@/misc/debounce-decorator';

@Component({
  components: {
    TopNavBar,
  },
})
export default class ViewCoursePage extends Vue {
  courseState: string = '';
  courseName: string = '';
  courses: any = [];
  stateSelected: string = '';
  courseSelected: string = '';
  courseToShow: any = {};
  ifStateNotSelected: boolean = false;
  ifUserSelectedCourse: boolean = false;
  isLoading: boolean = false;
  states: any = [];

  created() {
    this.getStates();
  }

  getStates() {
    db.collection('states')
      .doc('State List')
      .get()
      .then((snapshot) => {
        const document = snapshot.data();
        for (const state of Object.keys(document)) {
          // console.log(document[course]);
          this.states.push(document[state]);
        }
    });
    this.isLoading = false;
  }

  userSelectedState() {
    this.ifStateNotSelected = true;
    this.getCourses(this.stateSelected);
  }

  userSelectedCourse() {
    this.ifUserSelectedCourse = true;
    this.getCourseData(this.stateSelected, this.courseSelected);
  }

  getCourses(state: string) {
    db.collection('coursesByState')
      .doc(state)
      .get()
      .then((snapshot) => {
        const document = snapshot.data();
        if (document) {
          for (const course of Object.keys(document)) {
            this.courses.push(document[course]);
          }
        } else {
          this.courses = [];
        }
    });
    this.isLoading = false;
  }

  getCourseData(state: string, courseName: string) {
    db.collection('coursesByState')
      .doc(state)
      .get()
      .then((snapshot) => {
        const document = snapshot.data();
        // console.log(document);
        if (document) {
          for (const c of Object.keys(document)) {
            if (document[c].Name === courseName) {
              this.courseToShow = document[c];
            }
          }
        }
    });
    this.isLoading = false;
  }
}
</script>
<style scoped>
@media screen and (max-width: 768px) {
    .box {
      width: 100%;
      margin-top: 15px;
    }
    .level {
      margin-top: 75px;
    }
  }
  @media screen and (max-width: 1024px) {
    .box {
      width: 75%;
    }
  }
</style>


